.header-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 801px;
    scroll-behavior: smooth;

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            text-align: right;
        }
    }

    div {
        display: inline-block;
    } 

    .header-preview-main-text {
        margin-top: 50px;
        font-size: 2.5em;
        font-weight: 900;
    }

    .header-preview-text {
        margin: 50px 0;
    }

    .header-form {
        position: relative;
        color: white;

        .arrow-to-input {
            position: absolute;
            left: -20%;
            top: 43%;
        }

        input {
            width: 453px;
            height: 53px;
            padding: 0 17px;
            color: white;
            font-size: 2em;
            border: 1px white solid;
            border-radius: 7px;
            outline: transparent;
            background-color: transparent;
            /* border: transparent; */
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 300 !important;
            font-size: 26px;
        }
        input:focus {
            border: 1px #0099cc solid;
            box-shadow: 0 0 3px 3px #0099cc;
        }
        input[type="text"]::-webkit-input-placeholder {
            color: white;
        }
        
        .button-get-invite {
            margin-top: 10px;
            padding: 10px 0;
            width: 489px;
            background-color: rgb(194,194,74);
            border-radius: 5px;
            text-align: center;

            a {
                font-weight: 700;
                font-size: 2em;
            }
        }
        .button-get-invite:hover {
            background-color: rgb(199,199,88);
            cursor: pointer;
        }

    }

    span {
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 1.3em;
    }
}